<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    <link href="__PUBLIC__/Admin/css/style.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/Admin/js/jquery-1.8.2.min.js" rel="stylesheet" type="text/css" />
</head>
<script src="__PUBLIC__/Admin/js/jquery-1.8.2.min.js"></script>
<style>
    .tabless{
        margin-left:65px;
    }
    textarea{
        height:200px;
        width:300px;
        border-top: solid 1px #a7b5bc;
        border-left: solid 1px #a7b5bc;
        border-right: solid 1px #ced9df;
        border-bottom: solid 1px #ced9df;
    }
</style>
<body>

<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="#">首页</a></li>
        <li><a href="#">文章添加</a></li>
    </ul>
</div>

<div class="formbody">
    <div class="formtitle"><span>文章添加</span></div>
    <form action="{:U('Read/read_add')}" method="post">
        <ul class="forminfo">
            <input type="text" value="{$students_id}" name="students_id">
            <li><label>文章内容</label>
                <textarea name="read_text" class=""></textarea>
                </li>
            <li>
            <li><label>建议答题时间</label>
            <input name="read_time" value="" type="text" class="dfinput" /><i>请输入数字，例如：五分钟，输入数字5即可</i>
                </li>
            <li><label>文章类型</label>
                <select name="read_type_id" class="dfinput type_id" >
                    <option value="">请选择</option>
                    <option value="1">阅读理解</option>
                    <option value="2">完型填空</option>
                </select>
            </li>
            <li><label>文章关卡</label>
                <select name="read_level_id" class="dfinput textbook_id">
                    <option value="0">请选择文章关卡</option>
                    <option value="1">第一关</option>
                    <option value="2">第二关</option>
                    <option value="3">第三关</option>
                    <option value="4">第四关</option>
                    <option value="5">第五关</option>
                    <option value="6">第六关</option>
                    <option value="7">第七关</option>
                    <option value="8">第八关</option>
                    <option value="9">第九关</option>
                    <option value="10">第十关</option>
                </select>
            </li>
            <li><label>文章难度</label>
                <select name="read_difficulty_id" class="dfinput">
                    <option value="">请选择</option>
                    <option value="1">一星</option>
                    <option value="2">二星</option>
                    <option value="3">三星</option>
                    <option value="4">四星</option>
                    <option value="4">五星</option>
                    <!--</foreach>-->
                </select>
            </li>
            <li><label>文章标题</label>
                <cite><input name="read_title" value="" type="text" class="dfinput" /></cite></li>
                <li>
                    <label class="jiass"><font class="jian">[+]</font>题目 &nbsp;<font class="ti">1</font></label>
                    <input name="topic_timu[]" type="text" class="dfinput" /><i>完型填空没有题目内容请写题号，例如：1</i>
                    <!--<cite>-->
                        <table style="border-collapse:separate; border-spacing:0px 13px;" border="1" cellspacing="10" class="tabless">
                            <tr>
                                <td>A、</td>
                                <td><input style="width: 172px; height: 32px;" name="topic_text[]" type="text" class="dfinput" /></td>
                                <td>B、</td>
                                <td><input style="width: 172px;height: 32px;" name="topic_text[]" type="text" class="dfinput" /></td>
                            </tr>
                            <tr>
                                <td>C、</td>
                                <td><input style="width: 172px;height: 32px;" name="topic_text[]" type="text" class="dfinput" /></td>
                                <td>D、</td>
                                <td><input style="width: 172px;height: 32px;" name="topic_text[]" type="text" class="dfinput" /></td>
                            </tr>
                            <tr>
                                <td>正确答案</td>
                                <td><input style="width: 172px;height: 32px;" name="yes_no[]" type="text" class="dfinput" /><i>正确答案写答案内容，不可写ABCD</i></td>
                            </tr>
                            <tr>
                                <td>详细解析</td>
                                <td><textarea name="topic_spell[]" type="text" class=""></textarea></td>
                            </tr>
                        </table>

                        <li>
                </li>
            <li><label>&nbsp;</label><input name="" type="submit" class="btn" value="确认保存"/></li>
        </ul>
    </form>

</div>
</body>
<script>
    $(function(){
        var v= $('.ti').html();
        var font = parseInt(v);
        $(".jiass").click(function(){
            font++;
            var clone = $(this).parent();
            clone.after(clone.clone());
            clone.next().find('font').html(font);
            clone.next().find('.jian').html('[-]').attr('class','j');
            $(".j").click(function(){
                var jian = $(this).parent();
                $(this).parent().parent().remove();
            })
        })
    })
//    $(function(){
//        $(document).on("change",".type_id",function(){
//            var object = $(".textbook_id");
//            var type_id = $(this).val();
//            $.ajax({
//                type:"post",
//                url:"{:U('Read/read_textbook')}",
//                data:{
//                    type_id:type_id,
//                },
//                dataType:"json",
//                success:function(res){
//                    var str = ' <select name="textbook_id" class="dfinput"><option value="">请先选择文章所属教材</option>';
//                    $.each(res,function(k,v){
//                        str+='<option value="'+v.textbook_id+'">'+v.textbook_name+'</option>';
//                    })
//                    str+='</select>';
//                    object.html(str);
//                }
//            })
//            $(".textbook_id").change(function(){
//                var object = $(".level_id");
//                var textbook_id = $(this).val();
////                alert(textbook_id)
//                $.ajax({
//                    type:"post",
//                    url:"{:U('Read/read_level')}",
//                    data:{
//                        textbook_id:textbook_id,
//                    },
//                    dataType:"json",
//                    success:function(res){
//                        var str = ' <select name="read_level_id" class="dfinput textbook_id"><option value="">请选择</option>';
//                        $.each(res,function(k,v){
//                            str+='<option value="'+v.level_id+'">'+v.level_name+'</option>';
//                        })
//                        str+='</select>';
//                        object.html(str);
//                    }
//                })
//            })
//        })
//    })
//    $(function(){
//        $(".textbook_id").change(function(){
//            var object = $(".level_id");
//            var type_id = $(this).val();
//            $.ajax({
//                type:"post",
//                url:"{:U('Read/read_ajax')}",
//                data:{
//                    type_id:type_id,
//                },
//                dataType:"json",
//                success:function(res){
////                    alert(res);
//                    var str = ' <select name="read_level_id" class="dfinput"><option value="">请选择</option>';
//                    $.each(res,function(k,v){
//                        str+='<option value="'+v.level_id+'">'+v.level_name+'</option>';
//                    })
//                    str+='</select>';
//                    object.html(str);
//                }
//            })
//        })
//    })
</script>
</html>

