<IfModule mod_rewrite.c>
  Options +FollowSymlinks
  RewriteEngine On
#  RewriteRule ^(.*?(?<!(css|js))$) 39.106.59.81/$1 [L,R=302]
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^(.*)$ index.php/$1 [QSA,PT,L]
</IfModule>