<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>网站后台管理系统HTML模板--模板之家 www.cssmoban.com</title>
    <link href="__PUBLIC__/Admin/css/style.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/Admin/js/jquery-1.8.2.min.js" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="__PUBLIC__/Admin/js/jquery.js"></script>

<script type="text/javascript">
$(document).ready(function(){
  $(".click").click(function(){
  $(".tip").fadeIn(200);
  });
  
  $(".tiptop a").click(function(){
  $(".tip").fadeOut(200);
});

  $(".sure").click(function(){
  $(".tip").fadeOut(100);
});

  $(".cancel").click(function(){
  $(".tip").fadeOut(100);
});

});
</script>


</head>

<include file="./Public/top"/>
<body>

	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">首页</a></li>
    <li><a href="#">权限列表</a></li>
    </ul>
    </div>
    
    <div class="rightinfo">
    <div class="tools">
    
    	<ul class="toolbar">
        <li class="click"><span><img src="__PUBLIC__/Admin/images/t01.png" /></span><a href="{:U('power_add')}">添加</a></li>
        </ul>
    </div>
    
    
    <table class="tablelist">
    	<thead>
    	<tr power_pid="0">
            <th></th>
        <th></th>
        <!--<th>编号<i class="sort"><img src="__PUBLIC__/Admin/images/px.gif" /></i></th>-->
        <th>权限名称</th>
        <th>控制器名称</th>
        <th>方法名称</th>
        <th>操作</th>
        </tr>
        </thead>

        <tbody>
        <foreach name="power" item="vo">
        <tr class="tr" id="0_1" power_id="{$vo.power_id}" power_pid="{$vo.power_pid}">
            <td width="3%"><span class="span">[+]</span></td>
            <td width="7%">{$vo.power_id}</td>
            <td>{$vo.power_name}</td>
            <!--<td>王金平幕僚：马英九声明字字见血 人活着没意思</td>-->
            <td>{$vo.power_controller}</td>
            <td>{$vo.power_action}</td>
            <td><a href="{:U('Power/power_update')}?power_id={$vo.power_id}" class="tablelink">修改</a>
                <a href="{:U('Power/power_delete')}?power_id={$vo.power_id}" class="tablelink"> 删除</a></td>
            </tr>
        </foreach>
        </tbody>
    </table>


    <!--<div class="pagin">-->
    	<!--<div class="message">共<i class="blue">1256</i>条记录，当前显示第&nbsp;<i class="blue">2&nbsp;</i>页</div>-->
        <!--<ul class="paginList">-->
        <!--<li class="paginItem"><a href="javascript:;"><span class="pagepre"></span></a></li>-->
        <!--<li class="paginItem"><a href="javascript:;">1</a></li>-->
        <!--<li class="paginItem current"><a href="javascript:;">2</a></li>-->
        <!--<li class="paginItem"><a href="javascript:;">3</a></li>-->
        <!--<li class="paginItem"><a href="javascript:;">4</a></li>-->
        <!--<li class="paginItem"><a href="javascript:;">5</a></li>-->
        <!--<li class="paginItem more"><a href="javascript:;">...</a></li>-->
        <!--<li class="paginItem"><a href="javascript:;">10</a></li>-->
        <!--<li class="paginItem"><a href="javascript:;"><span class="pagenxt"></span></a></li>-->
        <!--</ul>-->
    <!--</div>-->


    <!--<div class="tip">-->
    	<!--<div class="tiptop"><span>提示信息</span><a></a></div>-->

      <!--<div class="tipinfo">-->
        <!--<span><img src="__PUBLIC__/Admin/images/ticon.png" /></span>-->
        <!--<div class="tipright">-->
        <!--<p>是否确认对信息的修改 ？</p>-->
        <!--<cite>如果是请点击确定按钮 ，否则请点取消。</cite>-->
        <!--</div>-->
        <!--</div>-->

        <!--<div class="tipbtn">-->
        <!--<input name="" type="button"  class="sure" value="确定" />&nbsp;-->
        <!--<input name="" type="button"  class="cancel" value="取消" />-->
        <!--</div>-->

    <!--</div>-->
    
    
    
    
    </div>
    
    <script type="text/javascript">
	$('.tablelist tbody tr:odd').addClass('odd');
	</script>
</body>
</html>
<script>
$(function(){
    $("tr[power_pid!=0]").hide();
    $(".span").toggle(function(){
        $(this).html("[-]");
        var power_id = $(this).parents(".tr").attr("power_id");
        //				alert(power_id);
        $("tr[power_pid='"+power_id+"']").show();
        // var power_id = $(this).parent().parent().attr("power_id");
        // alert(power_id);
        },
        function(){
            $(this).html('[+]');
            var power_id = $(this).parents(".tr").attr("power_id");
            $("tr[power_pid='"+power_id+"']").hide();
    })
})
</script>
