<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    <link href="__PUBLIC__/Admin/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>

<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="#">首页</a></li>
        <li><a href="#">管理员添加</a></li>
    </ul>
</div>

<div class="formbody">

    <div class="formtitle"><span>管理员添加</span></div>
    <form action="{:U('users/users_add')}" method="post">
        <ul class="forminfo">
            <li><label>管理员账号</label><input name="user_account" type="text" class="dfinput" /></li>
            <li><label>管理员密码</label><input name="user_pwd" type="text" class="dfinput" /></li>
            <li><label>用户角色</label>
                <cite>
                    <table>
                        <foreach name="show" item="vo">
                            <td><td><input name="role_name[]" value="{$vo.role_id}" type="checkbox" class="" />{$vo.role_name}</td>
                        </foreach></td>
                    </table>
            <li>

            <li><label>&nbsp;</label><input name="" type="submit" class="btn" value="确认保存"/></li>
        </ul>
    </form>

</div>
</body>
</html>
